<a href="https://colab.research.google.com/github/ghlee020202/Data-Analysis-with-Open-Source/blob/main/%EC%A4%91%EA%B0%84%EA%B3%BC%EC%A0%9C%EB%AC%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 새 섹션

In [8]:
import pandas as pd
import requests
import json

for year in range(2014,2025) :
    for month in range(1,12+1) :
        url = f"http://openapi.seoul.go.kr:8088/5a6f4b514367686c3535756f41646d/json/energyUseDataSummaryInfo/1/10/{year}/{month:02d}"
        params = {
            'TYPE' : 'json',
            'START_INDEX' : '1',
            'END_INDEX' : '100'
        }
        response = requests.get(url, params=params)

        if response.status_code == 200 :
            for row in data:
                if row.get('MM_TYPE') == '개인' :
                    all_data.append({
                        'YEAR': row.get('YEAR'),
                        'MON': row.get('MON'),
                        'MM_TYPE': row.get('MM_TYPE'),
                        'EUS': row.get('EUS'),   # 전기 사용량
                        'GUS': row.get('GUS'),   # 가스 사용량
                        'WUS': row.get('WUS'),   # 수도 사용량
                        'HUS': row.get('HUS')    # 지역난방 사용량
                        })
            print("API 호출 성공")
            print(response.json())

        else:
            print("API 호출 실패: {response.status_code}")

NameError: name 'data' is not defined

In [177]:
import pandas as pd
import requests
import json

for year in range(2014,2025) :
    for month in range(1,12+1) :
        url = f"http://openapi.seoul.go.kr:8088/5a6f4b514367686c3535756f41646d/json/energyUseDataSummaryInfo/1/5/{year}/{month:02d}"
        params = {
            'TYPE' : 'json',
            'SERVICE' : 'energyUseDataSummaryInfo',
            'START_INDEX' : '1',
            'END_INDEX' : '100',
            'KEY' : '5a6f4b514367686c3535756f41646d',
        }
        response = requests.get(url, params=params)

        if response.status_code == 200:
#DataFrame으로 변환
            data = response.json()['energyUseDataSummaryInfo']['row']
            df = pd.DataFrame(data)
            print(df.info())

        else:
            print("API 호출 실패: {response.status_code}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4

In [179]:
import pandas as pd
import requests
import json
import glob
import numpy as np

for year in range(2014,2025) :
    for month in range(1,12+1) :
        url = f"http://openapi.seoul.go.kr:8088/5a6f4b514367686c3535756f41646d/json/energyUseDataSummaryInfo/1/5/{year}/{month:02d}"
        params = {
            'TYPE' : 'json',
            'SERVICE' : 'energyUseDataSummaryInfo',
            'START_INDEX' : '1',
            'END_INDEX' : '100',
            'KEY' : '5a6f4b514367686c3535756f41646d',
        }
        response = requests.get(url, params=params)

        if response.status_code == 200:
            #DataFrame으로 변환
            data = response.json()['energyUseDataSummaryInfo']['row']
            df = pd.DataFrame(data)
            #특정 행 선택
            selected_rows = df[['YEAR', 'MON', 'MM_TYPE', 'EUS', 'GUS', 'WUS', 'HUS']]
            #행 순서 변경
            reordered_rows = df[['MM_TYPE', 'YEAR', 'MON', 'EUS', 'GUS', 'WUS', 'HUS']]
            df

        else:
            print("API 호출 실패: {response.status_code}")

In [174]:
import pandas as pd

data = {
    '이름' : ['김철수', '박민수', '이영희'],
    '학년' : [1, 2, 2],
    '학점' : [4.2, 3.8, 3.3],
    '학과' : ['컴퓨터과학', '컴퓨터과학', '데이터통계']
}

df = pd.DataFrame(data)
print(df)

selected_cols = df[['이름', '학년']]
print(selected_cols)

print(df.loc['이름'])

    이름  학년   학점     학과
0  김철수   1  4.2  컴퓨터과학
1  박민수   2  3.8  컴퓨터과학
2  이영희   2  3.3  데이터통계
    이름  학년
0  김철수   1
1  박민수   2
2  이영희   2

KeyError: '이름'